body {
    text-align: center;
}
section {
    width:100%;
    height: 5%;
    position: fixed;
    background-color: black;
    color: lightgray;
}
.nav navbar-nav {
    list-style: none;
    font-family: cursive;
    float: left;
    top: 10px;
    right: 30px;
    cursor:context-menu;
}

#li1 {
    display: inline;
    font-size: 19px;
}

#li2 {
    display: inline;
    font-size: 15px;
}

#li3 {
    display: inline;
    font-size: 15px;
}

#li4 {
    display: inline;
    font-size: 15px;
}

#li5 {
    display: inline;
    font-size: 15px;
}
#li6 {
    display: inline;
    font-size: 15px;
}
li {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    color: lightgray;
    cursor: context-menu
}
li:hover {
    background-color: red;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}
.navbar-brand:hover {
    
}
#marqueeStyle {
    font-family: monospace;
    background-color: #7ca5eb;
    font-size: 20px;
    height: 25px;
    color: white;
}
#video {
    width: 100%;
    height: 600px;
}
a {
    cursor: context-menu;
}
.navbar-brand:hover {
    background-color: red;
    -webkit-transition-duration: 0.4s;
    /* Safari */
}
.navbar-brand {
    -webkit-transition-duration: 0.4s;
    /* Safari */
}